@charset "UTF-8";

body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0px; 
    margin: 0px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

p {
    line-height: 1.5em;
    font-size: 1.8em;
    padding-bottom: 2em;
}

header {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

header > h1 {
    padding-bottom: 20px;
    font-size: 3em;
}

header > p {
padding-bottom: 20px;
}

header a, footer a {
    color:blue;
    text-decoration: none;
    font-weight: bolder;
   
}

section {
    font-size: 2.5vw;
    padding-top: 5vh;
    padding-left: 40px;
    padding-bottom: 10vh;
    padding-right: 40px;
    line-height: 2em;
}

section.normal {
background-color: white;
}

section#img01 {
    background: rgba(0, 0, 0, 0.507) url(..//imagens/edward.jpg) center right no-repeat fixed; 
    background-size: cover;
    color: white;
}

section#img02 {
    background: rgba(0, 0, 0, 0.425) url(../imagens/one-piece.jpg) center center no-repeat fixed;
    background-size: cover;
    color:white

}

section.img {
    box-shadow: inset 6px 6px 6px 6px rgba(0, 0, 0, 0.596);
    
}

section.img > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: 0px 0px 0px black;
    padding: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  
}

footer > p {
font-size: 14px;
padding-top: 20px;
}